<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>BackEnd</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <h1 data-position="header">EGarage</h1>

    <section data-position="add-quote">
      <h2>Insertion maina be</h2>

      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="lastname" name="lastname" />
        <input type="text" placeholder="contact" name="contact" />
        <input type="text" placeholder="marque" name="marque" />
        <input type="text" placeholder="modele" name="modele" />
        <input type="text" placeholder="matricule" name="matricule" />
        <input type="color" name="couleur" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="update-quote">
      <div>
        <h2>Modification</h2>
        <p>
          Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <form action="/quotes" method="POST">
          <input type="text" placeholder="name" name="name" />
          <input type="text" placeholder="lastname" name="lastname" />
          <input type="number" placeholder="age" name="age" min="0"/>
          <input type="submit" value="Modifier" />
        </form>
      </div>
    </section>

    <section data-position="delete-quote">
      <div>
        <h2>Suppression</h2>
        <p>
          Delete one Darth Vadar's quote. Does nothing if there are no more
          Darth Vadar's quote
        </p>
        <button id="delete-button">Delete Darth Vadar's quote</button>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="quotes">
      <h2>Lister</h2>
      <table border='1'>
        <thead>
          <tr>
            <th>Client</th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Matricule</th>
            <th>Couleur</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < quotes.length; i++) {%>
          <tr>
            <td><%= quotes[i].name %> <%= quotes[i].lastname %></td>
            <td><%= quotes[i].marque %></td>
            <td><%= quotes[i].modele %></td>
            <td><%= quotes[i].matricule %></td>
            <td style="background-color:<%= quotes[i].couleur %>"></td>
            <td><a href='/details/<%= quotes[i].matricule %>'>Details</a></td>
            <td><a href="/supprimer/<%= quotes[i].name %>">Supprimer</a></td>
            <td><a href="/valider/<%= quotes[i].name %>">Valider</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% if(locals.details){ %>
      <table border='1'>
        <thead>
          <tr>
            <th>Client</th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Matricule</th>
            <th>Couleur</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < quotes.length; i++) {%>
          <tr>
            <td><%= quotes[i].name %> <%= quotes[i].lastname %></td>
            <td><%= quotes[i].marque %></td>
            <td><%= quotes[i].modele %></td>
            <td><%= quotes[i].matricule %></td>
            <td style="background-color:<%= quotes[i].couleur %>"></td>
            <td><a href='/details/<%= quotes[i].matricule %>'>Details</a></td>
            <td><a href="/supprimer/<%= quotes[i].name %>">Supprimer</a></td>
            <td><a href="/valider/<%= quotes[i].name %>">Valider</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>

    </section>

    <script src="javascripts/main.js"></script>
  </body>
</html>
